body{
    background-color: rgb(234, 241, 241);
    
    
}
#header
{
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   font-family: 'Segoe UI';
   padding: 1em;
   background-color: rgb(234, 241, 241);
   display: flex;
   text-align: center;
}
#header-img
{
   margin-right: 50px;
   height: 50px;
   width: auto;

}
.handcraft-bio{
   margin-top: 100px;
   font-family: 'Segoe UI';
   text-align:center;
}
#nav-bar
{
   font-size: 25px;
   padding-top: 10px;
   padding-left: 600px;
   display: inline;
   
 }
.nav-link
{
   text-decoration:none;
}

#email
{
   height: 40px;
   width: 450px;
   border: 2px;
   border-color: black;
   font-size: 18px;
}

.button1{
    height:50px;
    width:240px;
    font-size:14pt;
    border-radius: 3px;
    border: white;
    font-family: 'Segoe UI';
    font-size: 25px;
    background-color:yellow;
    color: black;

}

.boxes{
   display: flex;
   justify-content: space-evenly;
   margin-top: 50px;
   margin-bottom: 50px;
   font-family: 'Segoe UI';
   font-size: 35px;

}

.feature1{
   display: flex;
   font-family: 'Segoe UI';
   justify-content:center;

}
   .feature2{
      display: flex;
      font-family: 'Segoe UI';
      justify-content:center;
 
   }
      .feature3{
         display: flex;
         font-family: 'Segoe UI';
         justify-content:center;
       
      }
   

#buttonselect
{
   background-color:yellow;
   color: black;
   height: 40px;
   width: 100px;
   border-radius: 3px;
   border: white;
   font-size: 12pt;
}
.video1
{
 display: flex;
 justify-content: center;
}

#footer{
   display: flex;
   justify-content: left;
   flex-direction : column;
   font-family: 'Segoe UI';
   background-color: rgba(128, 128, 128, 0.342);

}
@media screen and (min-width: 480px) {
   #footer 
   {
      float: center;
   }
   #header
   {
      height: 60px;
   }